<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  <p>
  {{#if has_nuts }}This product has nuts!{{/if}}
  </p>
  {{#unless has_nuts}}
  <p>This product doesn't have nuts!</p>
  {{/unless}}
  </div>
</div>